@use ".././../utils/globals" as *;
.restTabbarMobile{
    width: 95%;
    height: 100%;
    margin: auto;
    position: relative;
    display: none;
    @include PhoneLarge{
        display: block;
    }
    &-topbar{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        -webkit-box-shadow: 5px 5px 15px -6px #000000; 
        box-shadow: 5px 5px 15px -6px #000000;
        padding: 5px 20px;
        box-sizing: border-box;
        .selected-tab{
            p{
                font-size: 1.5rem;
                font-weight: 600;
            }
        }
        .menu-icon{
            font-size: 2.4rem;
            font-weight: 600;
            cursor: pointer;
        }
    }
    .slide-menu{
        position: absolute;
        top: 50px;
        padding: 10px 20px;
        background-color: #ffff;
        transition: all 0.6s ease;
        transform: translateY(10px);
        opacity: 0;
        visibility: hidden;
        -webkit-box-shadow: 5px 5px 15px -6px #000000; 
        box-shadow: 5px 5px 15px -6px #000000;
        z-index: 222;
        &.menu-active{
            opacity: 1;
            transform: translateY(0);
            visibility: visible;
        }
        ul{
            li{
                list-style-type: none;
                font-size: 1.5rem;
                margin-bottom: 10px;
                font-weight: 600;
            }
        }
    }
}