@use "../../../utils//globals" as *;
.discountSection{
    width: 100%;
    height: 100%;

    &-wrapper{
        width: 80%;
        height: 100%;
        margin: auto;
        padding: 50px 0;
        
        @include laptopLarge{
            width: 95%;
        }
        @include laptopSm{
            width: 90%;
        }
        .discount-info-bar{
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px dashed $deepOrange;
            background: $linear-gradient;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 50px;
            .discount-logo{
                display: flex;
                align-items: center;
                margin-right: 30px;
                img{
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                }
                span{
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: $deepOrange;
                }
            }
            p{
                font-size: 1.5rem;
                color: $lightBlue;
            }
        }
        .discount-products{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 80px;
            @include laptopSm{
                gap: 20px;
            }
            @include PhoneLarge{
                grid-template-columns: 1fr;
            }
        }
    }
}