@use "../../utils/globals" as *;
.footer{
    width: 100%;
    height: 400px;
    background-color: #ffff;
    @include TabletLarge{
        height: 100%;
    } 
    &-wrapper{
        width: 80%;
        height: 100%;
        margin: auto;
        padding: 40px 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        
        @include laptopLarge{
            width: 95%;
        }
        @include laptopSm{
            width: 90%;
        }
        .footer-head{
            display: flex;
            align-items: center;
            margin-bottom: 20px;  
            img{
                width: 40px;
                height: 40px;
                object-fit: contain;
                margin-right: 8px;
            }
            h1{
                font-size: 3rem;
                color: $deepBlue;
            }
        }
        .footer-links{
            display: flex;
            justify-content: space-between;
            @include TabletLarge{
                flex-direction: column;
            } 
            .f-links-left{
                display: flex;
                flex-direction: column; 
                @include TabletLarge{
                    margin-bottom: 30px;
                } 
                .social-media-links{
                    display: flex;
                    padding: 0;
                    margin-bottom: 80px;
                    @include PhoneLarge{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 20px;
                        margin-bottom: 20px;
                    } 
                    li{
                        list-style-type: none;
                        font-size: 1.5rem;
                        color: $lightBlue;
                        font-weight: 600;
                        margin-right: 20px;
                        cursor: pointer;
                        &:hover{
                            color: $deepOrange;
                        }
                    }
                }
                .left-bottom{
                    h2{
                        font-size: 1.8rem;
                        color: $deepBlue;
                        margin-bottom: 20px;
                    }
                    .app_store_links{
                        img{
                            width: 100px;
                            height: 30px;
                            object-fit: cover;
                            margin-right: 20px;
                        }
                    }
                }
            }
            .f-links-right{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 40px;
                @include PhoneLarge{
                    grid-template-columns: 1fr;
                } 
                .link-grid{
                    h3{
                        font-size: 1.5rem;
                        margin-bottom: 15px;
                        color: $deepBlue;
                    }
                    ul{
                        padding: 0;
                        li{
                            list-style-type: none;
                            font-size: 1.4rem;
                            color: $lightBlue;
                            margin-bottom: 15px;

                            span{
                                font-size: 1.4rem;
                                color: red;
                            }
                        }
                    }
                    .clickable-links{
                        li{
                            cursor: pointer;
                            &:hover{
                                color: $deepOrange;
                            }
                        }
                    }
                }
            }
        }
        .footer-bottom{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 50px;
            @include TabletSm{
                flex-direction: column;
            } 

            p{
                font-size: 1.4rem;
                color: $lightBlue;
                @include TabletSm{
                    margin-bottom: 10px;
                } 
                em{
                    color: $deepOrange;
                    font-size: 1.4rem;
                }
            }
            .f-bottom-links{
                display: flex;
                align-items: center;
                padding: 0;

                li{
                    list-style-type: none;
                    font-size: 1.4rem;
                    color: $lightBlue;
                    cursor: pointer;
                    margin-right: 20px;
                    &:hover{
                        color: $deepOrange;
                    }

                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
    }
}