@use "../../../utils/globals" as *;
.about-intro{
    width: 100%;
    height: 100%;

    &-wrapper{
        width: 80%;
        height: 100%;
        margin: auto;
        @include laptopLarge{
            width: 95%;
        }
        @include laptopSm{
            width: 90%;
        }
        .about-header{
            margin-top: 50px;
            margin-bottom: 60px;
            @include PhoneLarge{
                margin-top: 30px;
                margin-bottom: 30px;
            }
            h1{
                font-size: 4rem;
                margin-bottom: 10px;
                @include PhoneLarge{
                    font-size: 3rem;
                }
            }
            .current-page{
                display: flex;
                h3{
                    font-size: 1.5rem;
                    &:last-child{
                        color: $deepOrange;
                        margin-left: 5px;
                    }
                }
            }
        }

        .intro-main-body1{
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;
            @include TabletLarge{
                grid-template-columns: 1fr;
                gap: 0px;
                margin-bottom: 40px;
            }
            .about-intro-left{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                img{
                   width: 100%;
                   height: 100%;
                   object-fit: cover;
                }
            }
            .about-intro-right{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h1{
                    font-size: 2.8rem;
                    font-weight: bold;
                    text-align: left;
                    margin-bottom: 30px;
                    @include PhoneLarge{
                        font-size: 2rem;
                    }
                }
                p{
                    font-size: 1.5rem;
                    color: $lightBlue;
                    margin-bottom: 20px;
                    font-weight: 500;
                }
                .left-lists{
                    margin-top: 30px;
    
                    li{
                        display: flex;
                        .check-icon{
                            font-size: 1.6rem;
                            color: #ffff;
                            padding: 2px;
                            background-color: green;
                            border-radius: 50%;
                            margin-right: 20px;     
                        }
                    }
                }
            }
        }
        .intro-main-body2{
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 50px;
            @include TabletLarge{
                grid-template-columns: 1fr;
                gap: 0px;
            }
            .about-intro-left1{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h1{
                    font-size: 2.8rem;
                    font-weight: bold;
                    text-align: left;
                    margin-bottom: 30px;
                    @include PhoneLarge{
                        font-size: 2rem;
                    }
                }
                p{
                    font-size: 1.5rem;
                    color: $lightBlue;
                    margin-bottom: 20px;
                    font-weight: 500;
                }
            }
            .about-intro-right2{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}