@use "../../utils/globals" as *;
.delivery-footer{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    position: relative;
    z-index: 1;
    overflow: hidden;
    img{
        width: 400px;
        height: 400px;
        object-fit: contain;
        position: absolute;
        z-index: -1;
        top: -30px;
        right: -160px;
    }
    .footer-title{
        margin-bottom: 30px;
        h1{
            font-size: 2.8rem;
            color: #ffff;
            text-align: center;
            font-weight: bold;
            text-transform: capitalize;
        }
    }
    p{
        color: #ffff;
        font-size: 1.5rem;
        margin-bottom: 20px;
        width: 50%;
        text-align: center;
    }
    .delivery-footer-button{
        color: #ffff;
        background-color: $deepOrange;
        border: none;
        border-radius: 20px;
        padding: 8px 15px;
        width: 120px;
        font-size: 1.2rem;
        cursor: pointer;
    }
}