$pink: #FCF5EF;
$lightOrange: #fee1a7;
$deepOrange: #fda200;
$deepBlue: #4d5464;
$lightBlue: #5a5955;
$lightPink: #fcfbf9;
$linear-gradient: linear-gradient(90deg, rgba(252,245,239,1) 0%, rgba(252,245,239,1) 54%, rgba(252,251,249,1) 100%);
