@use "../../utils/globals" as *;
.foodCardH{
    width: 500px;
    height: 200px;
    padding: 10px;
    margin-right: 20px;
    box-sizing: border-box;
    background-color: #ffff;
    -webkit-box-shadow: 5px 5px 15px -6px #000000; 
    box-shadow: 5px 5px 15px -6px #000000;
    margin-top: 70px;
    border-radius: 20px;
    cursor: pointer;
    &:hover{
        .more-actions{
            opacity: 1;
        }
        .foodCardH-right{
            .card-bottom{
                .card-btn{
                    background-color: #000000;
                }
            }
        }
    }
    &-wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        .cardImage{
            width: 200px;
            height: 200px;
            object-fit: cover;
            margin-right: 20px;
        }
        .more-actions{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 10px;
            right: 10px;
            opacity: 0;
            transition: all 0.6s ease;
            .icon{
                color: $deepOrange;
                font-size: 2rem;
                margin-bottom: 10px;
                padding: 3px;
                border-radius: 50%;
                background-color: #ffff;
                transition: all 0.6s ease;
                cursor: pointer;
                &:hover{
                    background-color: $lightOrange;
                }
            }
        }
        .foodCardH-right{
            display: flex;
            flex-direction: column;
            .card-info{
                .card-title{
                    font-size: 1.5rem;
                    text-align: left;
                    margin: 15px 0;
                    color: $deepBlue;
                }
                .card-desc{
                    font-size: 1.4rem;
                    color: $lightBlue;
                    text-align: left;
                    margin-bottom: 15px;
                }
                .card-price{
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: $deepOrange;
                    text-align: left;
                    margin-bottom: 15px;
                }
            }
            .card-bottom{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                .amount-container{
                    display: flex;
                    align-items: center;
                    .add{
                        padding: 3px;
                        border: 1px solid $lightOrange;
                        border-radius: 50%;
                        background-color: #ffff;
                        cursor: pointer;
                        margin-right: 10px;
                    }
                    .remove{
                        @extend .add;
                        margin-left: 10px;
                    }
                    span{
                        font-size: 1.2rem;
                        color: $lightBlue;
                    }
                }   
                .card-btn{
                    border: none;
                    background-color: $deepOrange;
                    padding: 5px 10px;
                    width: 120px;
                    border-radius: 15px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all 0.6s ease;
                    span{
                        color: #ffff;
                        font-size: 1rem;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                    .add-cart{
                        margin-right: 2px;
                        color: #ffff;
                        font-weight: bold;
                    }
                }
            }
        }
        
    }
}